parameters:
	level: 5

	paths:
		- src

	bootstrapFiles:
		- tests/phpstan-bootstrap.php

	ignoreErrors:
		# PHPStan does not support dynamic by reference return used by Nette\Utils\Strings::pcre()
		- '#Undefined variable: \$m#'

		# PHPStan does not support RecursiveIteratorIterator proxying unknown method calls to inner iterator
		- '#RecursiveIteratorIterator::getSubPathName\(\)#'

		# static cannot be changed to maintain backward compatibility
		- '#Unsafe usage of new static\(\)#'
